* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ECF0F3;
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
body .openedPostDiv {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(53, 48, 65, 0.42);
}
body .openedPostDiv .openedPost {
  padding: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 2fr;
  background: #F7FAFD;
  width: 70%;
  position: fixed;
  height: content-box;
  box-shadow: 23px 31px 66px #88828D;
  border-radius: 25px;
}
body .openedPostDiv .openedPost .photoAndActionsContainer .actionsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-self: center;
}
body .openedPostDiv .openedPost .photoAndActionsContainer .actionsContainer .likes .likeButton {
  background-color: transparent;
  background-image: url("img/icons/favorite_border_24px.svg");
  width: 35px;
  height: 35px;
  border: 0;
}
body .openedPostDiv .openedPost .photoAndActionsContainer .actionsContainer .actions .sendButton {
  background-image: url("img/icons/sendbutton.svg");
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 0;
}
body .openedPostDiv .openedPost .photoAndActionsContainer .actionsContainer .actions .bookmark {
  background-image: url("img/icons/bookmark.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 0;
}
body .openedPostDiv .openedPost .descriptionAndComments {
  display: grid;
  grid-template-rows: 2fr 1fr;
}
body .openedPostDiv .openedPost .descriptionAndComments .commentsSection h1 {
  color: #7D288B;
  font-size: 30px;
}
body .openedPostDiv .openedPost .descriptionAndComments .commentsSection form {
  border-radius: 5px;
  border: 2px solid #B5B5D5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .openedPostDiv .openedPost .descriptionAndComments .commentsSection form textarea {
  font-size: 15px;
  resize: none;
  height: 40%;
  width: 70%;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  border-radius: 5px;
}
body .openedPostDiv .openedPost .descriptionAndComments .commentsSection form .send {
  font-weight: bold;
  font-size: 12px;
  align-self: flex-start;
  border: 0;
  background: transparent;
}
body .openedPostDiv .openedPost .descriptionAndComments .usersDescription .user {
  display: flex;
  align-items: center;
}
body .openedPostDiv .openedPost .descriptionAndComments .usersDescription .user .avatar {
  background-image: url("img/icons/user 1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.headerFeed {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
}
.headerFeed .logo {
  margin: 20px;
  flex-basis: 20%;
  background-image: url("img/pictures/logoms.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 180px;
  width: 180px;
}
.headerFeed .center {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}
.headerFeed .center form {
  width: 100%;
  position: relative;
  margin: 10px 0 30px 0;
}
.headerFeed .center input,
.headerFeed .center button {
  outline: none;
  background: transparent;
}
.headerFeed .center input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
  border: 3px solid #CFCDFF;
  border-radius: 15px;
  box-sizing: border-box;
}
.headerFeed .center button {
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.headerFeed .center button:before {
  content: "\f002";
  font-size: 16px;
  color: #F9F0DA;
}
.headerFeed .center input:focus {
  border-color: #7D288B;
}
.headerFeed .center .updates {
  display: flex;
  justify-content: space-between;
}
.headerFeed .center .updates .updatesPhotos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 2px;
  border-image: linear-gradient(90deg, #CFCDFF 19.83%, #7C288B 88.27%);
}
.headerFeed .center .updates .updatesPhotos p {
  color: white;
  font-size: 15px;
}
.headerFeed .center .updates .user1 {
  background-image: url("img/pictures/001.png");
  background-size: cover;
}
.headerFeed .center .updates .user2 {
  background-image: url("img/pictures/002.png");
  background-size: cover;
}
.headerFeed .center .updates .user3 {
  background-image: url("img/pictures/003.png");
  background-size: cover;
}
.headerFeed .center .updates .user4 {
  background-image: url("img/pictures/004.jpg");
  background-size: cover;
}
.headerFeed .center .updates .user5 {
  background-image: url("img/pictures/005.jpg");
  background-size: cover;
}
.headerFeed .userCorner {
  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
  flex-basis: 20%;
}
.headerFeed .userCorner .userAvatar {
  position: relative;
  background-image: url("img/icons/user 1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 100%;
  width: 150px;
  height: 150px;
}
.headerFeed .userCorner .userAvatar .iconPlus {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
}
.feed {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
}
.feed .menu {
  position: fixed;
  top: 310px;
  right: 20px;
}
.feed .menu .menuList {
  list-style-type: none;
}
.feed .menu .menuList li a img {
  height: 40px;
  width: 40px;
}
.feed .publication {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  background: #F7FAFD;
  box-shadow: 35px 28px 32px #D2D8E4, -32px -40px 57px #FFFFFF;
  border-radius: 20px;
}
.feed .publication .user {
  display: flex;
  margin: 3% 0 0 3%;
}
.feed .publication .user .userName {
  color: #242045;
  align-self: center;
  font-size: 25px;
}
.feed .publication .user .avatar {
  background-image: url("img/pictures/useravatar.png");
  background-size: cover;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.feed .publication .pictureBox {
  display: flex;
  padding: 30px;
}
.feed .publication .pictureBox .picture {
  display: flex;
}
.feed .publication .pictureBox .picture .picturePhoto {
  margin: auto;
  width: 70%;
  height: 100%;
  border-radius: 15px;
}
.feed .publication .pictureBox .multiple ul {
  list-style-type: none;
}
.feed .publication .pictureBox .multiple ul li {
  margin-bottom: 15px;
}
.feed .publication .pictureBox .multiple ul li .active {
  width: 30px;
}
.feed .publication .pictureBox .multiple ul li .ellipse {
  width: 25px;
}
.feed .publication .description {
  width: 65%;
  align-self: center;
  margin: 10px;
}
.feed .publication .description .userNameDescription {
  font-size: 20px;
}
.feed .publication .description .textDescription {
  font-weight: 300;
  font-size: 18px;
}
.feed .publication .actionsContainer {
  display: flex;
  justify-content: space-between;
  width: 65%;
  align-self: center;
}
.feed .publication .actionsContainer .likes .likeButton {
  background-color: transparent;
  background-image: url("img/icons/favorite_border_24px.svg");
  width: 35px;
  height: 35px;
  border: 0;
}
.feed .publication .actionsContainer .actions .sendButton {
  background-image: url("img/icons/sendbutton.svg");
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 0;
}
.feed .publication .actionsContainer .actions .bookmark {
  background-image: url("img/icons/bookmark.svg");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 0;
}
.feed .publication .commentSection {
  margin-bottom: 20px;
  align-self: center;
  width: 65%;
}
.feed .publication .commentSection .commentsButton {
  background-image: url("img/icons/comments.svg");
  width: 35px;
  height: 35px;
  background-size: contain;
  background-color: transparent;
  border: 0;
}
footer {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  background-color: #CFCDFF;
  border-radius: 0 120px 0 0;
  height: 200px;
}
footer .linksList {
  display: flex;
  list-style-type: none;
}
footer .linksList .links {
  margin-left: 200px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.personalPageHeader {
  height: max-content;
  padding: 2%;
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
}
.personalPageHeader .leftColumn {
  justify-self: center;
}
.personalPageHeader .leftColumn .userDiv .userPicture {
  background-image: url("img/icons/user 1.svg");
  background-size: contain;
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  position: relative;
}
.personalPageHeader .leftColumn .userDiv .userPicture .plusIcon {
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 60px;
}
.personalPageHeader .leftColumn .uploadPhoto {
  margin: 20% 0 10% 0;
  color: white;
  font-size: 15px;
  width: 169px;
  height: 38px;
  background: linear-gradient(90deg, #CFCDFF 19.83%, #7C288B 88.27%);
  border-radius: 20px;
}
.personalPageHeader .leftColumn .userList {
  width: 100%;
  list-style-type: none;
}
.personalPageHeader .leftColumn .userList .userListPoints {
  width: 100%;
}
.personalPageHeader .leftColumn .userList .userListPoints .userLinks {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.personalPageHeader .leftColumn .userList .userListPoints .userLinks .titleList {
  color: #7D288B;
}
.personalPageHeader .leftColumn .userList .userListPoints .userLinks .numbersList {
  color: #979797;
}
.personalPageHeader .centralColumn {
  display: grid;
  grid-template-rows: 0.5fr 2fr 2fr;
}
.personalPageHeader .centralColumn .nickname {
  color: #7D288B;
}
.personalPageHeader .centralColumn .descriptionAndSettings {
  display: flex;
}
.personalPageHeader .centralColumn .descriptionAndSettings .settingsIcon {
  background-color: transparent;
  border: none;
}
.personalPageHeader .centralColumn .descriptionAndSettings .settingsIcon .settingsImg {
  width: 45px;
  height: 45px;
}
.personalPageHeader .rightColumn {
  justify-self: end;
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.personalPageHeader .rightColumn .logoImage {
  background-image: url("img/pictures/logoms.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 180px;
  height: 180px;
}
.personalPageHeader .rightColumn .iconsMenu .menuList {
  list-style-type: none;
}
.personalPageHeader .rightColumn .iconsMenu .menuList .menuLi {
  line-height: 25px;
}
.personalPageHeader .rightColumn .iconsMenu .menuList .menuLi .icons {
  width: 40px;
  height: 40px;
}
.navigation {
  border-bottom: 2px solid #CFCDFF;
  display: flex;
  justify-content: space-around;
}
.navigation .navigationLinks {
  border-bottom: 2px solid #7D288B;
  width: 10%;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.galleryContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
.galleryContainer .gallery {
  width: 70%;
  margin: 3% 0 5% 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27%, 1fr));
  grid-gap: 1rem;
}
.galleryContainer .gallery .post {
  width: 100%;
  height: 100%;
}
.galleryContainer .gallery .post .postLink img {
  width: 100%;
  height: 100%;
}
.publicationPage {
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.publicationPage .firstColumn {
  justify-self: center;
}
.publicationPage .firstColumn .postContainer .headerOfPost {
  margin: 3% 0 3% 0;
}
.publicationPage .firstColumn .postContainer .headerOfPost .userHeader {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.publicationPage .firstColumn .postContainer .headerOfPost .userHeader .userNickname {
  color: #7C288B;
}
.publicationPage .firstColumn .postContainer .headerOfPost .userHeader .avatar {
  background-image: url("img/icons/user 1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}
.publicationPage .firstColumn .postContainer .postBody .pictureOfThePost .postImage {
  border-radius: 15px;
}
.publicationPage .secondColumn {
  display: flex;
  justify-self: end;
  margin: 5% 5% 0 0;
}
.publicationPage .secondColumn .logo {
  background-image: url("img/pictures/logoms.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
}
.publicationPage .secondColumn .menu .menuList {
  list-style-type: none;
}
/*# sourceMappingURL=stylesheet.css.map */