* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #ECF0F3;
  height: 100%;

}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  .openedPostDiv {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 48, 65, 0.42);
    .openedPost {
      padding: 20px;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 2fr;
      background: #F7FAFD;
      width: 70%;
      position: fixed;
      height: content-box;
      box-shadow: 23px 31px 66px #88828D;
      border-radius: 25px;
      .photoAndActionsContainer {
        .actionsContainer {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-self: center;
          .likes {

            .likeButton {
              background-color: transparent;
              background-image: url("img/icons/favorite_border_24px.svg");
              width: 35px;
              height: 35px;
              border: 0;
            }
          }
          .actions {
            .sendButton {
              background-image: url("img/icons/sendbutton.svg");
              width: 35px;
              height: 35px;
              background-color: transparent;
              border: 0;
            }
            .bookmark {
              background-image: url("img/icons/bookmark.svg");
              background-repeat: no-repeat;
              width: 35px;
              height: 35px;
              background-color: transparent;
              border: 0;
            }
          }
        }
      }
      .descriptionAndComments {

        display: grid;
        grid-template-rows: 2fr 1fr;
        .commentsSection {
          h1 {
            color: #7D288B;
            font-size: 30px;
          }
          .allComments {

          }
          form {
            border-radius: 5px;
            border: 2px solid #B5B5D5;
            display: flex;
            align-items: center;
            justify-content: space-between;
            textarea {
              font-size: 15px;
              resize: none;
              height: 40%;
              width: 70%;
              background: transparent;
              border: 0;
              box-sizing: border-box;
              border-radius: 5px;
            }
            .send {
              font-weight: bold;
              font-size: 12px;
              align-self: flex-start;
              border: 0;
              background: transparent;
            }
          }

        }
        .usersDescription {

          .user {
            display: flex;
            align-items: center;
            .avatar {
              background-image: url("img/icons/user 1.svg");
              background-size: contain;
              background-repeat: no-repeat;
              width: 50px;
              height: 50px;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}


.headerFeed {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;

  .logo {
    margin: 20px;
    flex-basis: 20%;
    background-image: url("img/pictures/logoms.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 180px;
    width: 180px;
  }

  .center {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;

    form {
      width: 100%;
      position: relative;
      margin: 10px 0 30px 0;
    }
    input, button {
      outline: none;
      background: transparent;
    }
    input {
      width: 100%;
      height: 42px;
      padding-left: 15px;
      border: 3px solid #CFCDFF;
      border-radius: 15px;
      box-sizing: border-box;
    }
    button {
      border: none;
      height: 42px;
      width: 42px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    button:before {
      content: "\f002";
      font-size: 16px;
      color: #F9F0DA;
    }
    input:focus {
      border-color: #7D288B;
    }
    .updates {
     display: flex;
      justify-content: space-between;

    .updatesPhotos {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
      border-radius: 100%;
      border: 2px;
      border-image: linear-gradient(90deg, #CFCDFF 19.83%, #7C288B 88.27%);
      p {
        color: white;
        font-size: 15px;
      }
    }

      .user1 {
      background-image: url("img/pictures/001.png");
      background-size: cover;

    }

      .user2 {
      background-image: url("img/pictures/002.png");
      background-size: cover;


    }

      .user3 {
      background-image: url("img/pictures/003.png");
      background-size: cover;


    }

      .user4 {
        background-image: url("img/pictures/004.jpg");
        background-size: cover;
      }
      .user5 {
        background-image: url("img/pictures/005.jpg");
        background-size: cover;
      }
  }
}
  .userCorner {
    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 20%;
    .userAvatar {
      position: relative;
      background-image: url("img/icons/user 1.svg");
      background-size: contain;
      background-repeat: no-repeat;
      border-radius: 100%;
      width: 150px;
      height: 150px;
      .iconPlus {
        position: absolute;
        bottom: 0;
        width: 60px;
        height: 60px;
      }
    }
  }
}
.feed {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  .menu {
    position: fixed;
    top: 310px;
    right: 20px;
    .menuList {
      list-style-type: none;
        li {
          a {
            img {
              height: 40px;
              width: 40px;
            }
          }
        }
    }

  }
  .publication {
    grid-column: e('2 / 3');
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    background: #F7FAFD;
    box-shadow: 35px 28px 32px #D2D8E4, -32px -40px 57px #FFFFFF;
    border-radius: 20px;
    .user {
      display: flex;
      margin: 3% 0 0 3%;
      .userName {
        color: #242045;
        align-self: center;
        font-size: 25px;
      }
      .avatar {
        background-image: url("img/pictures/useravatar.png");
        background-size: cover;
        width: 100px;
        height: 100px;
        margin-right: 20px;
      }
    }
    .pictureBox {

      display: flex;
      padding: 30px;
      .picture {
        display: flex;
        .picturePhoto {
          margin: auto;
          width: 70%;
          height: 100%;
          border-radius: 15px;
        }
      }
      .multiple {
        ul {
          list-style-type: none;
          li {
            margin-bottom: 15px;
            .active {
              width: 30px;
            }
            .ellipse {
              width: 25px;
            }
          }
        }
      }
    }
    .description {
      width: 65%;
      align-self: center;
      margin: 10px;
      .userNameDescription {
        font-size: 20px;
      }
      .textDescription {
        font-weight: 300;
        font-size: 18px;
      }
    }
    .actionsContainer {
      display: flex;
      justify-content: space-between;
      width: 65%;
      align-self: center;
      .likes {

        .likeButton {
          background-color: transparent;
          background-image: url("img/icons/favorite_border_24px.svg");
          width: 35px;
          height: 35px;
          border: 0;
        }
      }
      .actions {
        .sendButton {
          background-image: url("img/icons/sendbutton.svg");
          width: 35px;
          height: 35px;
          background-color: transparent;
          border: 0;
        }
        .bookmark {
          background-image: url("img/icons/bookmark.svg");
          background-repeat: no-repeat;
          width: 35px;
          height: 35px;
          background-color: transparent;
          border: 0;
        }
      }
    }
    .commentSection {
      margin-bottom: 20px;
      align-self: center;
      width: 65%;
.commentsButton {
  background-image: url("img/icons/comments.svg");
  width: 35px;
  height: 35px;
  background-size: contain;
  background-color: transparent;
  border: 0;

}
    }
  }
}



footer {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  background-color: #CFCDFF;
  border-radius: 0 120px 0 0;
  height: 200px;
  .linksList {
    display: flex;
    list-style-type: none;
    .links {
      margin-left: 200px;
      text-decoration: none;
      color: white;
      font-size: 20px;
    }
  }
}

.personalPageHeader {
  height: max-content;
  padding: 2%;
  display: grid;
  grid-template-columns: 2fr 2fr 3fr;
  .leftColumn {
    justify-self: center;
    .userDiv {
      .userPicture {
        background-image: url("img/icons/user 1.svg");
        background-size: contain;
        width: 180px;
        height: 180px;
        background-repeat: no-repeat;
        position: relative;
        .plusIcon {
          position: absolute;
          bottom: 0;
          width: 60px;
          height: 60px;

        }
      }
    }
    .uploadPhoto {
      margin: 20% 0 10% 0;
      color: white;
      font-size: 15px;
      width: 169px;
      height: 38px;
      background: linear-gradient(90deg, #CFCDFF 19.83%, #7C288B 88.27%);
      border-radius: 20px;
    }
    .userList {
      width: 100%;
      list-style-type: none;
    .userListPoints {
      width: 100%;
      .userLinks {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
      .titleList {
        color: #7D288B;
      }
        .numbersList {
          color: #979797;
        }
      }
    }
    }
    }
  .centralColumn {
    display: grid;
    grid-template-rows: 0.5fr 2fr 2fr;
    .nickname {
     color: #7D288B;
    }
.descriptionAndSettings {
  display: flex;
  .settingsIcon {
    background-color: transparent;
    border: none;
    .settingsImg {
      width: 45px;
      height: 45px;
    }
  }
}
  }
  .rightColumn {
    justify-self: end;
    display: flex;
    width: 50%;
    justify-content: space-between;
    .logoImage {
      background-image: url("img/pictures/logoms.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 180px;
      height: 180px;

    }
    .iconsMenu {
      .menuList {
        list-style-type: none;
        .menuLi {
          line-height: 25px;
          .icons {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
  }
.navigation {
  border-bottom: 2px solid #CFCDFF;
  display: flex;
  justify-content: space-around;
  .navigationLinks {
    border-bottom: 2px solid #7D288B;
    width: 10%;
    justify-content: space-around;
    display: flex;
    align-items: center;
  }
}
.galleryContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
.gallery {
  width: 70%;
  margin: 3% 0 5% 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27%, 1fr));
  grid-gap: 1rem;
  .post {
    width: 100%;
    height: 100%;
    .postLink {
    img {
      width: 100%;
      height: 100%;
    }
  }
  }
}
}

.publicationPage {
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 3fr 2fr;
  .firstColumn {
    justify-self: center;
    .postContainer {
      .headerOfPost {
        margin: 3% 0 3% 0;
        .userHeader {
          width: 55%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        .userNickname {
          color: #7C288B;
        }
        .avatar {
          background-image: url("img/icons/user 1.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 60px;
          height: 60px;
        }

        }
      }
      .postBody {
        .pictureOfThePost {
          .postImage {
            border-radius: 15px;
          }
        }
      }
    }
  }
  .secondColumn{
    display: flex;
    justify-self: end;
    margin: 5% 5% 0 0;
    .logo{
      background-image: url("img/pictures/logoms.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 160px;
      height: 160px;
    }
    .menu {
      .menuList {
        list-style-type: none;
      }
    }
  }
}